@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #aff4ff -278.56%,
    #6d6d6d -78.47%,
    #32047648 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient1 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 45.69%,
    #d3d3d3fc 10.89%,
    #5bb5beeb 42.04%,
    #ff95ba 71.54%,
    #ea195be2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient2 {
  background: radial-gradient(
    64.18% 64.18% at 81.16% 35.69%,
    #a9f5fc -5.04%,
    #ff6abe 42.04%,
    #ff2e70 71.54%,
    #b534dc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient3 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffffff 0.89%,
    #ffffff 42.04%,
    #ebf9ff 71.54%,
    #bafcff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.flex-item {
  flex: 1 1 auto;
  transition: flex 0.5s ease;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #e0c9ff -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.animate-black-hole {
  animation: black-hole-animation 2s ease-in-out infinite;
}

.card-container {
  perspective: 2000px; /* Set the perspective for 3D effect */
}

.card {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
}

.card-front {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.card-back {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  list-style-type: circle;
}

.feature-card-1 {
  background: var(--theme-color1);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}

.feature-card-2 {
  background: var(--theme-color2);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}

.feature-card-3 {
  background: var(--theme-color3);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: linear-gradient(
    144.39deg,
    #aff4ff -278.56%,
    #919191 -78.47%,
    #2949ff48 91.61%
  );
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(rgba(45, 90, 90, 0.5), rgba(54, 25, 98, 0.1));
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(rgba(15, 33, 200, 0.4), rgba(37, 185, 94, 0.5));
  filter: blur(900px);
}

.white__gradient {
  background: rgba(226, 226, 226, 0.36);
  filter: blur(750px);
}

.black__gradient {
  background: rgba(43, 43, 43, 0.36);
  filter: blur(750px);
}

.dim-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
}

@keyframes sine-wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-sine-wave {
  animation: wave 2s linear infinite;
}